html, body {
  height: 100%;
  overflow-x: hidden;
}
.subscriba-form-wrapper {
    padding: 40px 35px;
    border-radius: 22px;
}
select {
    min-width: 100%;
}
a {
    text-decoration: none !important;
    background-color: initial;
}
span.btn {
  cursor: pointer;
}
.menu-btn a {
  color: #fff;
}
.subcriba-api-key-wrapper .form-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 60px 50px;
    border-radius: 15px;
    border: none;
}
.subcriba-bx-shadow1 {
    -moz-box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),10px 10px 30px 4px rgba(45,78,255,0.15);
    -webkit-box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1), 10px 10px 30px 4px rgba(45,78,255,0.15);
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),10px 10px 30px 4px rgba(45,78,255,0.15);
}
.success-display-board svg  {
  height: 200px;
  margin: auto;
}
.subscribers-wrapper .container {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 30px;
  border-radius: 15px;
}
.subscribers-wrapper table {
  width: 700px;
  max-width: 100%;
  margin: auto;
}
.bubbly-button {
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em !important;
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-appearance: none;
    appearance: none;
    color: #fff;
    border-radius: 8px;
    border: none !important;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:hover {
  background-color: #007bff !important;
}
.theme1 {
  background-color: #ff0081 !important;
  color: #fff;
  border: none !important;
}
.bubbly-button:focus {
    outline: 0;
} 
.bubbly-button:before, .bubbly-button:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before{
    display: none;
    top: -25%;
    background-image:  
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%), 
    radial-gradient(circle,  20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%) !important;
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}
.bubbly-button:after{
    display: none;
    bottom: -15%;
    background-image:  
    radial-gradient(circle, #ff0081 20%, transparent 20%), 
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%) !important;
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
 
.bubbly-button:active{
    transform: scale(0.9);
    background-color: darken(#ff0081, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
.home-wrapper {
  margin: 15px auto;
}
.home-wrapper h1 {
  font-size: 3.8em;
  margin: 0 auto 10px;
  position: relative;
}
.home-wrapper h1 span.dot{
  color: #ff0081;
  font-size: 2em;
  position: absolute;
  top: 10px;
}
.side-hero img {
  margin-top: 40px;
}
 
.logo-container {
  line-height: 0;
  height: 32px;
}
.logo-container {
  margin: 16px 16px 16px 0;
}
.header-content {
  zoom: 1;
  position: relative; 
}
.header-content .logo-container,
.header-content .nav-menu {
  flex: 0 1 100%;
}
.header-content .nav-menu {
  text-align: right;
  margin-top: 12px;
}
